# Jupyter + EDA
notebook
matplotlib
seaborn

# Modeling
xgboost==2.0.3
scikit-learn
lightgbm
shap

# Backend
fastapi==0.116.0
uvicorn==0.35.0
pydantic==2.11.7
joblib
starlette==0.46.2
requests

# Data
pandas==2.3.0
numpy==2.0.2