# =====================
# CORE DATA HANDLING
# =====================
pandas==2.3.0
numpy==2.0.2
sqlalchemy==2.0.41  # For SQLite or future DB backends

# =====================
# JUPYTER + EDA
# =====================
notebook
matplotlib
seaborn

# =====================
# MODELING + INTERPRETABILITY
# =====================
scikit-learn
xgboost==2.0.3
lightgbm
shap
joblib

# =====================
# BACKEND (FastAPI API)
# =====================
fastapi==0.116.0
uvicorn==0.35.0
pydantic==2.11.7
starlette==0.46.2
requests

# =====================
# UTILS
# =====================
python-dotenv
